.brand {
  color: #60467e;
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 5% 0 5%;
}

.navbar ul {
  width: 39%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
}

#sign-up {
  color: #fff;
  background: #60467e;
  padding: 3px 11px;
  border-radius: 5px;
}

/* #sign-out {
  padding-left: 250px;
} */
